@model IEnumerable<LojaQuadrinhos.Models.ApplicationUser>

@{
    ViewData["Title"] = "Users";
}

<h1>List of users</h1>

<p>
    <br />    <button class="btn btn-success create">Register new user</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            
            
            <th>
                @Html.DisplayNameFor(model => model.UserType)
            </th>
            
            


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.UserType.Type)
                </td>
                
                

                <td>
                    <button class="btn btn-link edit" data-id="@item.Id">Edit</button>|
                    <button class="btn btn-link delete" data-id="@item.Id">Delete</button>

                </td>
            </tr>
        }
    </tbody>
</table>


<div id="modal" class="modal fade" role="dialog">

</div>



@section scripts{
    <script>
        $(function () {

            $(".delete").click(function () {
                var id = $(this).attr("data-id");

                $("#modal").load("/Users/Delete/" + id, function () {
                    $("#modal").modal();
                })
            });


            $(".edit").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/Users/Update/" + id, function () {
                    $("#modal").modal();
                })


            });

            $(".create").click(function () {
                $("#modal").load("/Users/Create", function () {
                    $("#modal").modal();
                })
            });



        })
    </script>
}
